{% load static %}

<!DOCTYPE html>

<html>
  <head>
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
	  <link rel="stylesheet" href="{% static 'foundation/css/app.css' %}">
	  <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
  </head>

  <body>

	<div class='off-canvas-wrap' data-offcanvas>
		<div class='inner-wrap'>
			<nav class="top-bar" data-topbar>
				<ul class="title-area">
					{% if student or instructor %}
						<li class="name"><h1><a href="{% url 'landing' %}">ScoreBook</a></h1></li>
					{% else %}
						<li class="name"><h1><a href="{% url 'index' %}">ScoreBook</a></h1></li>
					{% endif %}
				</ul>

				{% if instructor %}
					<section class='top-bar-section'>
						<ul class='left'>
							<li><a href="../admin">Admin</a></li>
							<li><a class="left-off-canvas-toggle" href='#'><span>Menu</span></a></li>
						</ul>
					</section>
				{% endif%}

				<section class="top-bar-section">
					<ul class="right">
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>

							{% if user and user.is_authenticated %}
								<li class='active'><a href="{% url 'logout' %}">Logout</a></li>
							{% else %}
								<li class='active'><a href="#">Login</a></li>
							{% endif %}

					</ul>
				</section>
			</nav>

			<div class='left-off-canvas-menu' id='side-nav'>
				<ul class='off-canvas-list' id='side-nav-list'>
					<li><label>Item</label></li>
					<li><a>Something</a></li>
				</ul>
			</div>

			<div class='main-section'>

				{% block content %}{% endblock %}

			<div>

		</div>
	<div>

	<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
	<script src="{% static 'foundation/js/vendor/fastclick.js' %}"></script>
	<script src="{% static 'foundation/js/foundation.min.js' %}"></script>
	<script>

		function updateSidebar()
		{
			var width = document.documentElement.clientWidth;
			var height = document.documentElement.clientHeight;
			$('#side-nav').css({'min-height': height});
		}

	  $(document).foundation();

		$(window).load(function() {
			updateSidebar();
		}).resize(function () {
			updateSidebar();
		});

	</script>

	</body>

</html>

