{% extends 'common.html' %}

{% block content %}

<h4 class="text-center">Login</h4>
<br>

<div class='row'>
	<div class='small-4 columns small-offset-4'>

		{% if error %}
			<div data-alert class="alert-box alert text-center">{{ error }}
			<a href="#" class="close">&times;</a>
			</div>
		{% endif %}

		<form method="post" action="{% url 'index' %}">
			{% csrf_token %}
			<input type="text" placeholder="username" name="username"/>
			<input type="password" placeholder="password" name="password"/>
			<div class="clearfix">
			<div class="switch small left">
				<input value="remember_me" id="remember_me1" type="checkbox">
				<label for="remember_me1"></label>
			</div> 
			<div class="right">Remember Me</div>
			</div> 
			<input class="button expand" type="submit" name="login" value="Log In">
		</form>

	</div>
</div>

{% endblock %}
